/* Navbar */
.sk-navbar{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 98;
}
.sk-navbar-brand img{
    width: 200px;
    margin-left: 20px;
}
.sk-navbar-toggle i{
    font-size: 28px;
    font-weight: 600;
}
.sk-navbar-offcanvas{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width:0;
    background-color:white;
    z-index: 99;
    overflow: hidden;
    transition: all 0.6s ease;
}
.sk-navbar-offcanvas.active{
    width:300px;
}
.navbar-profile{
    white-space: nowrap;
}
.navbar-profile h6{
    margin: 0;
    font-family:var(--base-font);
    font-weight: 500;
}
.navbar-profile i{
    font-size: 22px;
}
.sk-offcanvas-close i{
    font-size: 28px;
    font-weight: 600;
}
.sk-offcanvas-menu li{
    white-space: nowrap;
}
.sk-offcanvas-menu a{
    font-size: 20px;
    font-weight: 500;
    display: block;
    font-family: var(--base-font);
}
.sk-offcanvas-menu a.active{
    color: var(--bg-red);
}
.sk-offcanvas-menu i{
    color: black;
}
.sk-offcanvas-menu button{
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    font-family: var(--base-font);
}
.sk-login {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/Images/login-bg-min.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.sk-login-container {
    position: relative;
    z-index: 97;
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    padding: 30px 30px;
}
.sk-login-container h6{
    font-weight: 600;
}
.sk-login-form input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px;
}
.sk-login-form input[type=submit]{
    background:none;
    font-size: 18px;
    font-weight:500;
}
.sk-login-form-password{
    border-radius: 5px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.sk-login-form-password button{
    border: none;
    background:none;
}
.sk-login-form-password i{
    font-size: 22px;
    padding-right: 10px;
}
.sk-login-form input::placeholder{
    font-size: 18px;
    color: #4f4d4d;
}
/* post form  */
.post-form h1{
    font-family: var(--heading-font);
    text-align: center;
}
.post-form label{
    font-family: var(--heading-font);
    font-size: 20px;
    padding-left: 5px;
    margin-bottom:4px;
    font-weight:500;
}
.sk-post-form-preview-image{
    width: 200px;
}
.sk-post-form-preview-image img{
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: center;
}
.submit-btn{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: 500;
}
/* card */
.sk-your-blog h1{
    font-family: var(--heading-font);
}
.sk-card{
    overflow: hidden;
}
.sk-card .card-img-section{
    height: 300px;
    width: 100%;
}
.sk-card .card-img-section img{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.sk-card-content{
    background-color: white;
    color: #212121;
}
.sk-card-content h1{
    font-family: var(--heading-font);
    font-size: 22px;
}
.sk-card-content h6{
    font-family: var(--main-font);
}
.blog-page-status{
    padding: 2px 4px;
    color:var(--bg-red);
}
.blog-page-content img{
    max-width: 100%;
    height: auto;
}
/* Blog Page */
.sk-user-blog-page-image {
    width: 100%;
    height: 500px;
}
.sk-user-blog-page-image img{
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.sk-user-blog-page-content .heading{
    font-family: var(--heading-font);
}
.sk-footer{
    background-color: white;
}
.sk-footer-left{
    position: relative;
}
.sk-footer-left img{
    width: 13rem;
}
.sk-footer-left::before{
    content:"";
    width: 4px;
    height:100%;
    position: absolute;
    top: 0;
    background-color: var(--bg-red);
}
.sk-footer-left p{
    color: #565353;
    font-weight: 500;
}
/* media Query */
@media (max-width: 575.98px) {
    .sk-login-container{
        width: 90%;
    }
    .sk-user-blog-page-image{
        height: 300px;
    }
    h1{
        font-size: 28px;
    }
}