@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Jacques+Francois&family=Quicksand:wght@300;400;500;700&display=swap');

:root{
    --main-font:'Quicksand', sans-serif;
    --base-font:'Jacques Francois', serif;
    --site-font:'Caveat', cursive;
    --bg-color-first:#faf6f0;
    --bg-color-second:#e9d8c2;
    --bg-red:#fd9298;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-first);
    font-family: var(--main-font);
    box-sizing: border-box;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
h1{
    font-size: 47px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 25px;
}
h6{
    font-size: 20px;
}